body{
	margin: 0px;
    font-family: Arial, sans-serif;
    background-image: url(hovedbilde.jpg)
}

.intro{
	text-align: justify;
    margin-left: 225px;
    padding: 10px;
}

.intro-tekst{
    text-align: center;
    font-size: 25px;
    margin-top: 5%;
    margin-bottom: 15%;
}

.intro-tekst2{
    color: #291B12;
    width: 60%;
    text-align: justify;
    border: solid #291B12;
    background-color: #FDF4C9;
    padding: 10px;
    font-size: 25px;
    border-radius: 10px;
    margin-left: 19%;
    margin-top: 5%;
}

.intro h1{
    color: #291B12;
    text-align: center;
    font-size: 50px;
    margin-top: 5%;
}

.problem{
    margin-top: 10%;
	padding: 10px;
	margin-left: 225px;
    text-align: center;
}

.slide-box{
    width: 400px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    border: solid 4px #9D4E25;
    border-radius: 10px;
}


.image-container{
    width: 1200px;
    height: 350px;
    position: relative;
    transition: left 1s;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition:left 1s;
}

.slider-image{
    width: 400px;
    height: 350px;
    float: left;
    margin: 0px;
    padding: 0px;
}

.button-container{
    position: relative;
    top: -20px;
}

.slider-button{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
}

#slider-image-1:target ~ .image-container{
    left: 0px;
    
}

#slider-image-2:target ~ .image-container{
    left: -400px;
    
}

#slider-image-3:target ~ .image-container{
    left: -800px;
}


.problem h1{
    font-size: 40px;
}

.problem ul{
    font-size: 25px; 
}

.problem ul li{
}

.problem-tekst{
    margin-left: 15%;
    border: solid #291B12;
    padding: 10px;
    margin-top: 10%;
    background-color: #FDF4C9;
    border-radius: 10px;
    font-size: 20px;
    text-align: justify;
    width: 70%;
}

.imageholder{
    margin: 10%;
}

.imageholder img{
    width: 500px;
    height: auto;
}

.problem-tekst2{
    width: 70%;
    padding: 10px;
    margin-left: 15%;
    border: solid #291B12;
    background-color: #FDF4C9;
    border-radius: 10px;
    font-size: 20px;
    text-align: justify;
}

.nav{
  height: 100%;
  width: 225px; /* 200 was nice*/
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #291B12;
  overflow-x: hidden;
  padding-top: 20px;
  text-align: left;
}
/* Code is based on https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */

.nav a{
	padding: 6px 8px 20px 16px;
	text-decoration: none;
	font-size: 42px;
	color: #FDF4C9;
	display: block;
}
/* Code is based on https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp */


.nav a:hover{
	color: #C19B52;
}

.nav div{
	color: #FDF4C9;
	padding: 6px 8px 6px 16px;
	display: block;
	bottom: 5px;
	position: absolute;
}

.nav div a{
	text-decoration: none;
	display: inline-block;
	padding: 0px 6px 0px 0px;
}

.nav div a img{
	height: 50px;
}

.nav div p{
	margin: 10px 0px;
	line-height: 1.5;
}

.nav div a img:hover{
	opacity: 0.6;
}
.contact{
	font-size: 18px;
	text-decoration: underline;
}

.copyright {
	font-size: 15px;
	font-style: italic;
	padding-bottom: 5px;
}

.buy-now {
	margin-left: 225px;
	text-align: center;
}
.buy-now button {
	float: none;
}
.buy-now h1 {
	text-align: center;
}
.order {
	padding-left: 20px;
	margin-left: 225px;
	background-color: #FDF4C9;		/*the lighest colour (milk)*/
}
.order h1 {
	margin-top: 0;
	padding-top: 20px;
}


fieldset {
	margin-top: 10px;
	border-color: #C19B52;			/*middle brown*/
}

legend {
	font-weight: bold;
	text-align: left;
	color: #9D4E25;					/*dark brown but not the darkest*/
}

input {
	padding: 10px;
	border: 3px solid #C19B52;
	border-radius: 5px;
}
input:focus {
	border: 3px solid #9D4E25;
}

.total {
	font-weight: bold;
}

button {
	cursor: pointer;
	background-color: #9D4E25;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 15px 50px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-size: 25px;
	float: left;
}
button:hover {
	background-color: #291B12;
}

label {
	display: inline-block;
	line-height: 38px;
}

button a {
	text-decoration: none;
	color: white;
}

/*custom style radio buttons*/
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
}
.container input {
	position: absolute;
	opacity: 0;				/*hide default radio button*/
	cursor: pointer;
	width: 50%;
	height: 100%;
}
/* Create a custom radio button */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #C19B52;
	border-radius: 50%;
}
/* On mouse-over, add darker background color */
.container:hover input ~ .checkmark {
	background-color: #9D4E25;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*Custom radio button style: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio*/

.col-25 {
	float: left;
	width: 25%;
}

.col-75 {
	float: left;
	width: 75%;
}

.row {
	margin: 10px 10px 0 10px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/*Responsive form: https://www.w3schools.com/css/tryit.asp?filename=trycss_form_responsive*/





@media screen and (max-width: 700px){
 .nav{
		width: 125px;
}
  .nav a{
      font-size: 25px;
      padding: 6px 8px 30px 5px;
}
  .nav div{
      padding: 6px 8px 6px 5px;
}
  .nav div p{
      font-size: 10px;
      display: none;
}

  .contact{
    font-size: 15px;
      display: none;
}

  .nav div a img{
      height: 60px;
      padding-left: 28px;
      padding-bottom: 25px;
}
  .copyright{
    font-size: 10px;
}
    
  .intro{
    margin-left: 125px;
}  
  .problem{
    margin-left: 125px;
    }
    .slide-box{
    
    }

	.order {
		margin-left: 125px;
	}

	.col-25, .col-75, input[type=submit] {
		width: 100%;
		margin-top: 0;
	}

}

@media screen and (max-width: 400px){
	legend {
		text-align: center;
	}
}